html, body, header, #intro {
    height: 100%;
}

#intro {
    background: url("images/nature-green.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.mask {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #000;
    opacity: .7;
}

/*Navigation*/

.top-nav-collapse {
    background-color: #24355C;
}

@media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
        background-color: #24355C;
    }
}

@media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
        background-color: #24355C;
    }
}

nav {
    height: 150px;
}

nav.bg-dark {
    background-color: #000000d9!important;
}

nav img {
    margin-bottom: 2px;
    margin-left: 5px;
}

.navbar-dark .navbar-nav .nav-link {
    font-weight: bold;
    font-size: 1.2rem;
    color: #89e458;
    max-width: 65px;
    max-height: 65px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

div#navbarSupportedContent {
    max-width: 400px;
}

.btn-outline-success {
    color: #89e458;
    border: 2px solid #89e458;
}

.btn-outline-success:hover {
    color: #ffffff;
    background-color: #3d1b0f;
}

input.form-control {
    font-weight: bold;
    color: #000;
    border: 3px solid #3d1b0f;
}

form .form-inline {
    padding-bottom: 20px;
}

.navbar-dark .navbar-toggler {
    border: 3px solid #3d1b0f;
}

button.navbar-toggler:hover {
    border-color: #fff;
}

/*--Heading--*/

div.col-md-10 {
    margin-top: 75px;
}

h1 {
    color: #18efb5;
}

h4.my-4 {
    color: #18efb5;
}

hr {
    border: 1px solid #88037a;
}

button.btn.btn-outline-white {
    color: #fff;
    background-color: #88037a;
    border: 1px solid #fff;
}